@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

body {
  background-color: #F6BBED;
  /* background-image: url('../images/spiderweb_background.png');   */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* logo image */
img.logo {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  width: 150px;
}

div.img_div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.text_div {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'DM sans', sans-serif;
}

div.main-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.headings, h2, h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

ul {
  padding-left: 1em;
}

.logo-name {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #000000;
  font-weight: normal;
  line-height: 1.4em;
  text-align: center;
  font-weight: 600;
}

h1 {
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

.product-img {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: black;
}

.main-background {
  background-color: white;
}

.homepage_button {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'DM sans', sans-serif;
}

button {
  margin-top: 10px;
  color: black;
  font-size: 15px;;
}

.home-button-div {
  display: flex;
  justify-content: center;
  
}