body {
  background-color: #F6BBED;
  background-image: url('../images/spiderweb_background.png');  
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* logo image */
img.logo {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  width: 150px;
}


button {
  width: 250px;
  text-align:center;
  background-color: white;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  display:inline-block;
  max-width: 100%;
  padding: 15px 30px;
  transition: all .5s;
  touch-action: manipulation;
  font-family: 'DM sans', sans-serif;
  font-size: 15px;
}

button:hover {
  background-color: lightgray;
}

div.button_div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.img_div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.text_div {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'DM sans', sans-serif;
}