body {
  background-color: #F6BBED;
}

/* logo image */
img.desktop_logo {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  width: 10%;
}

img.mobile_logo {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  width: 40%;
}



button {
  width: 200px;
  text-align:center;
  background-color: white;
  text-align: center;
  border: 1px solid grey;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  padding: 8px 20px;
  transition: all .5s;
  touch-action: manipulation;

}

button:hover {
  background-color: #F6BBED;
  border-color: black;
}

div.buttonDiv {
  padding-left: 2px;
}